{include file='public/top'/}
</head>
<body>
 {include file='public/header'/}
 
 {include file='public/tabs'/}
 
<div id="panel">
{empty name="list"}
 <div class='box'>
 	<p>很抱歉，没有搜到相关壁纸！</p>
 </div>
{else /}
{volist name='list' id='data'}
	<div class="box">
		<div class="pic">
			<a class="galpop-info" data-galpop-group="ipad" data-galpop-link="picture?id={$data.Pic_id}" data-galpop-link-title="Click Here For More Info" data-galpop-link-target="_blank" title="标签：暂无 " href=__STATIC__/{$data.Big_Pic_url}>
				<img src=__STATIC__/{$data.Middle_Pic_url}></a>
		</div>
	</div>
{/volist}
{/empty}
 </div>
  <div class="page">
 <div class="pagination">{$list->render()}</div>
 </div>
  <a href="#recommendation" id="back-to-top"></a>
 {include file='public/bottom'/}