<footer>
<div class="friendly-link">
	<div class="left">
			<p>友情链接：</p>
	</div>
	<div class="right">
		<ul>
			<li>
				<a suggest="true" keyword="bilibili bili 比利比利 比例比例 比利 比例 弹幕 弹幕视频 b" target="_blank" href="http://www.bilibili.com/">
					<img alt="哔哩哔哩" src="__STATIC__/source/images/logo/bili.png" width="54" height="54"/>
					<div class="title"><span>哔哩哔哩</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="acfun avfun ac 弹幕 弹幕视频" target="_blank" href="http://www.acfun.cn/">
					<img alt="AcFun" src="__STATIC__/source/images/logo/ac.png" width="54" height="54"/>
					<div class="title"><span>AcFun</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="moejam" target="_blank" href="http://gacha.163.com/discover">
					<img alt="GACHA" src="__STATIC__/source/images/logo/gacha.png" width="54" height="54"/>
					<div class="title"><span>GACHA</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="linovel 轻之文库 轻之国度 轻文轻小说" target="_blank" href="http://www.linovel.net/">
					<img alt="轻之文库" src="__STATIC__/source/images/logo/linovel.png" width="54" height="54"/>
					<div class="title"><span>轻之文库</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="暴走漫画 暴漫 baozoumanhua" target="_blank" href="http://www.baozoumanhua.com/">
					<img alt="暴走漫画" src="__STATIC__/source/images/logo/baozou.png" width="54" height="54"/>
					<div class="title"><span>暴走漫画</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="半次元 banciyuan" target="_blank" href="http://bcy.net">
					<img alt="半次元" src="__STATIC__/source/images/logo/banciyuan.png" width="54" height="54"/>
					<div class="title"><span>半次元</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="moe.fm" target="_blank" href="http://anime.upupoo.com/">
					<img alt="啊噗猫追番" src="__STATIC__/source/images/logo/maopu.png" width="54" height="54"/>
					<div class="title"><span>啊噗猫追番</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="bangumi 番组" target="_blank" href="http://www.bangumi.tv/">
						<img alt="番组计划" src="__STATIC__/source/images/logo/bangumi.png" width="54" height="54"/>
						<div class="title"><span>番组计划</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="moegirl 萌娘百科 萌百 动漫百科" target="_blank" href="http://zh.moegirl.org/">
					<img alt="萌娘百科" src="__STATIC__/source/images/logo/moegirl.png" width="54" height="54"/>
					<div class="title"><span>萌娘百科</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="niconico nico" target="_blank" href="http://www.nicovideo.jp/">
					<img alt="Nico动画" src="__STATIC__/source/images/logo/nico.png" width="54" height="54"/>
					<div class="title"><span>Nico动画</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="neta 捏他" target="_blank" href="http://www.pixiv.net/">
					<img alt="Pixiv" src="__STATIC__/source/images/logo/pixiv.png" width="54" height="54"/>
					<div class="title"><span>Pixiv</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="M站 猫耳FM" target="_blank" href="http://www.missevan.com/">
					<img alt="M站" src="__STATIC__/source/images/logo/0927icon.png" width="54" height="54"/>
					<div class="title"><span>M站</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="Tencent 腾讯动漫" target="_blank" href="http://ac.qq.com">
					<img alt="腾讯动漫" src="__STATIC__/source/images/logo/Tencent.jpg" width="54" height="54"/>
					<div class="title"><span>腾讯动漫</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="Animahome 动漫之家" target="_blank" href="http://manhua.dmzj.com">
					<img alt="动漫之家" src="__STATIC__/source/images/logo/pixiv.png" width="54" height="54"/>
					<div class="title"><span>动漫之家</span></div>
				</a>
			</li>
			<li>
				<a suggest="true" keyword="buka 布卡漫画" target="_blank" href="http://www.buka.cn">
					<img alt="布卡漫画" src="__STATIC__/source/images/logo/buka.jpg" width="54" height="54"/>
					<div class="title"><span>布卡漫画</span></div>
				</a>
			</li>
		</ul>
	</div>
</div>
 </footer>
 
 </body>

</html>